<!DOCTYPE html>
<html lang="en">

<head>
    <title>show weather</title>
</head>

<body style="background-color: #D6EAF8 ; text-align:center;">
    <header></header>
    <main>
        <section>
            <div>
                <p><b>Location:-</b>{{res[0]}}</p>
                <p><b>Time:-</b>{{res[1]}}</p>
                <p><b>Weather info:-</b>{{res[2]}}</p>
                <p><b>Temperature:-</b>{{res[3]}}°C</p>
            </div>
            </form>
        </section>
    </main>
    <footer></footer>
</body>

</html>