<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
</head>

<body style="background-color: #D6EAF8 ; text-align:center;">
    <header></header>
    <main>
        <section>
            <div style="font-size:200%;">
                <h1>WEATHER INFORMATION</h1><br>
            </div>
            
            <div>
                <h3>KNOW YOUR CITY WEATHER</h3>
            </div>
            <div>
                <form action="/find" method="post">
                Enter your city:<input type="text" name="city"><br><br>
                <input type="submit" value="Find">
            </div>
            </form>
        </section>
    </main>
    <footer></footer>
</body>

</html>